.mm-navbar.mm-navbar_sticky {
    display: none;
}
.fs-10 {
  font-size: 10px; }

.fs-11 {
  font-size: 11px; }

.fs-12 {
  font-size: 12px; }

.fs-13 {
  font-size: 13px; }

.fs-14 {
  font-size: 14px; }

.fs-15 {
  font-size: 15px; }

.fs-16 {
  font-size: 16px; }

.fs-17 {
  font-size: 17px; }

.fs-18 {
  font-size: 18px; }

.fs-19 {
  font-size: 19px; }

.fs-20 {
  font-size: 20px; }

.fs-21 {
  font-size: 21px; }

.fs-22 {
  font-size: 22px; }

.fs-23 {
  font-size: 23px; }

.fs-24 {
  font-size: 24px; }

.fs-25 {
  font-size: 25px; }

.fs-26 {
  font-size: 26px; }

.fs-27 {
  font-size: 27px; }

.fs-28 {
  font-size: 28px; }

.fs-29 {
  font-size: 29px; }

.fs-30 {
  font-size: 30px; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.my-shadow, .dashboard-link-container, .datepicker-inline, footer, .horizontal-tab a.nav-link, .balance-container .balance-card {
  box-shadow: 0 0.125rem 0.35rem rgba(0, 0, 0, 0.5); }

.ellipsis, .blue-border.sender-list .d-card div:nth-child(2) p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

a, .line-hover:before, .profile-card .profile-card-item .my-link:before, .dashboard-link-container:after {
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s; }

.line-hover, .profile-card .profile-card-item .my-link {
  position: relative; }
  .line-hover:before, .profile-card .profile-card-item .my-link:before {
    content: '';
    position: absolute;
    left: auto;
    bottom: 0;
    right: 0;
    height: 2px;
    display: block;
    width: 0;
    background-color: #107BA9; }
  .line-hover:hover:before, .profile-card .profile-card-item .my-link:hover:before {
    width: 100%;
    left: 0;
    right: auto; }

.mm-panel::-webkit-scrollbar-track, .my-table-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #F5F5F5; }
.mm-panel::-webkit-scrollbar, .my-table-container::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5; }
.mm-panel::-webkit-scrollbar-thumb, .my-table-container::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #107BA9; }

.fw-400 {
  font-weight: 400 !important; }

.fw-500 {
  font-weight: 500 !important; }

.fw-600 {
  font-weight: 600 !important; }

.fw-700 {
  font-weight: 700 !important; }

.fw-800 {
  font-weight: 800 !important; }

.fw-900 {
  font-weight: 900 !important; }

.mw-200 {
  max-width: 200px; }

/*btn-4 Start*/
.btn-4 {
  overflow: hidden;
  position: relative; }

.btn-4:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .2;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: 10; }

.btn-4 > span {
  z-index: 20;
  position: relative; }
.hiddendiv {display: none;}
.btn-4:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1); }

.mm-navbar {
  padding: 14px;
  background-color: #fff; }
  .mm-navbar img {
    max-width: 220px; }

.mm-panel {
  background-color: #fff; }

.top-section {
  min-height: 300px;
  background: url(/cim_theme/static/src/img/top-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }
  .top-section:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4); }

header {
  position: relative; }
  header a.menu-btn {
    position: absolute;
    left: 15px;
    top: 20px; }
    header a.menu-btn i {
      font-size: 29px;
      color: #fff; }
  header .header-list li {
    position: relative; }
    header .header-list li:not(:last-child) {
      margin-right: 24px; }
      header .header-list li:not(:last-child):before {
        content: '';
        display: block;
        position: absolute;
        width: 1px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.6);
        right: -12px;
        top: 0; }
    header .header-list li a {
      color: #fff;
      font-size: 20px; }
      header .header-list li a:hover {
        color: #e4e4e4; }
      header .header-list li a.not-link {
        position: relative; }
        header .header-list li a.not-link.active:after {
          position: absolute;
          right: 0px;
          top: 2px;
          content: '';
          display: block;
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background-color: #EF4351; }

.mm-wrapper_opening a.menu-btn {
  opacity: 0;
  top: -100px; }

.mm-navbar {
  border-bottom: 0; }

.mm-navbar_sticky {
  display: none; }

.mm-btn {
  width: 40px; }

.mm-btn_close:before {
  right: 15px; }

.mm-btn_close:after, .mm-btn_close:before {
  width: 7px;
  height: 7px; }

.top-text-container h3 {
  font-size: 45px;
  font-weight: 400; }
.top-text-container .top-search-container {
  position: relative; }
  .top-text-container .top-search-container input {
    padding-right: 31px;
    color: white;
    background-color: rgba(255, 255, 255, 0.5); }
    .top-text-container .top-search-container input::-webkit-input-placeholder {
      color: white; }
    .top-text-container .top-search-container input:-ms-input-placeholder {
      color: white; }
    .top-text-container .top-search-container input::placeholder {
      color: white; }
  .top-text-container .top-search-container i {
    color: white;
    font-size: 17px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%); }

.dashboard-link-container {
  display: block;
  max-width: 190px;
  margin: 0 auto 15px;
  border-radius: 5px;
  overflow: hidden;
  position: relative; }
  .dashboard-link-container:after {
    position: absolute;
    content: '';
    display: block;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    bottom: 0;
    background: black;
    background: linear-gradient(0deg, black 0%, rgba(147, 147, 147, 0.1769082633) 69%); }
  .dashboard-link-container .d-link-text {
    position: absolute;
    left: 10px;
    bottom: 20px;
    z-index: 3;
    transition: all ease-in-out 0.5s;
    opacity: 1; }
  .dashboard-link-container:hover::after {
    opacity: 1; }
  .dashboard-link-container img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 5px; }

@media (min-width: 992px) {
  .col-lg-20 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; } }
.content {
  background: #f5f5f5 !important; }

.profile-media img {
  width: 70px;
  height: 70px;
  object-fit: cover; }
.profile-media h5 {
  font-size: 16px; }

.profile-card {
  margin-top: 10px; }
  .profile-card .profile-card-item:not(:last-child) {
    margin-bottom: 20px; }
  .profile-card .profile-card-item h4 {
    font-size: 20px;
    margin-bottom: 5px; }
  .profile-card .profile-card-item .my-link {
    color: #107BA9;
    padding-bottom: 3px; }

.datepicker table tr td.today {
  background-color: #107BA9 !important;
  color: #fff;
  background-image: none;
  position: relative; }
  .datepicker table tr td.today:before {
    border-bottom-color: #ffffff;
    border-top-color: rgba(0, 0, 0, 0.2);
    content: '';
    display: inline-block;
    border: solid transparent;
    border-width: 0 0 7px 7px;
    border-bottom-color: #ffffff;
    border-top-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 4px;
    right: 4px; }
  .datepicker table tr td.today:hover {
    background-image: none;
    background-color: #107BA9 !important;
    color: #fff !important; }

.datepicker table tr td {
  width: 32px;
  height: 32px;
  font-size: 14px; }

.datepicker-inline {
  width: 100%; }

footer {
  background-color: #fff; }
  footer .list-inline-item:not(:last-child) {
    margin-right: 1rem; }
  footer .footer-list li {
    position: relative; }
    footer .footer-list li a {
      color: #000;
      padding-bottom: 3px; }
    footer .footer-list li:not(:last-child):before {
      position: absolute;
      content: '';
      display: block;
      right: -0.5rem;
      height: 73%;
      width: 1px;
      top: 3px;
      background-color: #107BA9; }

body {
  overflow-x: hidden !important;
  padding-right: 0 !important; }

@media (max-width: 1199.98px) {
  .horizontal-tab {
    margin-bottom: 30px; }
    .horizontal-tab a {
      max-width: 80%;
      margin-left: auto;
      margin-right: auto; } }
.horizontal-tab a.nav-link {
  border-left: 5px solid transparent;
  display: block;
  width: 100%;
  background-color: #fff;
  color: #000;
  text-align: center; }
  .horizontal-tab a.nav-link:not(:last-child) {
    margin-bottom: 10px; }
  .horizontal-tab a.nav-link.active {
    background-color: #fff;
    border-left-color: #107BA9;
    color: #000; }

.my-table {
  margin-bottom: 0; }
  .my-table tr {
    text-align: center; }
    .my-table tr th {
      background-color: #107BA9;
      color: #fff;
      border-top: 0;
      font-weight: 500; }
      .my-table tr th:first-child {
        border-top-left-radius: 5px; }
      .my-table tr th:last-child {
        border-top-right-radius: 5px; }
      .my-table tr th:not(:last-child) {
        border-right: 1px solid rgba(255, 255, 255, 0.5); }
    .my-table tr td {
      background-color: #fff; }
    .my-table tr:last-child td:first-child {
      border-bottom-left-radius: 5px; }
    .my-table tr:last-child td:last-child {
      border-bottom-right-radius: 5px; }

.my-table-container {
  max-height: 400px;
  overflow-y: scroll;
  padding-right: 3px; }

.green-color {
  color: #18AA08; }

.red-color {
  color: #F50810; }

.yellow-color {
  color: #ffc107; }

.main-color {
  color: #107BA9; }

.my-card {
  background-color: #fff;
  border-radius: 5px; }

.btn-primary {
  background-color: #107BA9; }

.add-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  border: 0;
  outline: 0;
  background-color: #107BA9;
  color: #fff;
  font-size: 25px;
  text-align: center; }
  .add-btn:hover {
    color: white;
    background-color: rgba(16, 123, 169, 0.9); }
  @media (max-width: 767.98px) {
    .add-btn {
      margin: 0 auto; } }

body.modal-open .mm-slideout {
  z-index: 1000; }

.modal-backdrop {
  display: none; }

.modal-open .modal:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 101; }
.modal-open .modal .modal-dialog {
  z-index: 1111; }

#newPermissionModal .modal-dialog-centered {
  margin-top: -30px; }

.small-th-fs th {
  font-size: 14px;
  padding: 10px 3px; }
.small-th-fs td {
  font-size: 14px; }

.balance-container {
  margin-bottom: 30px;
  text-align: center; }
  .balance-container .balance-card {
    margin: 0 auto;
    display: flex;
    height: 50px;
    max-width: 50px;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 5px; }
    .balance-container .balance-card h3 {
      font-weight: 400; }

.blue-color {
  color: #107BA9; }

.blue-border.sender-list .d-card {
  border-left: 7px solid #107BA9;
  background-color: #f0f8ff;
  border-radius: 7px;
  padding: 10px 10px;
  margin-bottom: 15px; }
  .blue-border.sender-list .d-card div:nth-child(2) {
    max-width: 235px; }
  .blue-border.sender-list .d-card p {
    margin: 0; }

/*# sourceMappingURL=style-en.css.map */
